<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1>Captain Arena</h1>
  <h4> Soit le Bienvenu sur le pont moussaillon !</h4>
  <p> Tu peux créer des pirates et les faire combattre jusqu'à la mort.</p>
  <hr>
</div>


<div class="container">
  <div class="row">
    <div class="col-md">
      <%= link_to ' Visualier les combatants', fighters_path, class: "btn btn-secondary btn-lg fas fa-eye" %>
    </div>
    <div class="col-md">
      <%= link_to ' Ajouter un combatant', new_fighter_path, class: "btn btn-secondary btn-lg fas fa-plus-circle" %>
    </div>
    <div class="col-md">
      <a class="btn btn-secondary btn-lg fas fa-cross" href="#" role="button"> Combattre !</a>
    </div>
  </div>
</div>
</div>

</div>