<h1>Nouveau combattant</h1>

<p>
  Ajoute ton combattant pour qu'il aille se battre sur le pont !
  Mais attention à ne pas le rendre trop puissant...
</p>
<%= render 'form', fighter: @fighter %>

<%= link_to '', fighters_path, class: 'fa fa-backward' %>
