<div class="text-center">
  <h1>Nouveau combattant</h1>
  <p>
    Ajoute ton combattant pour qu'il aille se battre sur le pont !
    <br>
    Mais attention à ne pas le rendre trop puissant... il pourrait être <strong> dégénéré ! </strong>
  </p>
</div>
<hr>
<%= render 'form', fighter: @fighter %>
